.adfawfaw {
    color:rgb(5, 80, 80);
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    z-index: 10000;
    text-align: start;
    display: inline-flex;
    margin-right: ;
    font-size: 20px;
}

code {
}
